In [2]:
import pandas as pd

df = pd.read_csv("dirty_cafe_sales.csv")

df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [4]:
# Standardize column names
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

In [5]:
#Replace invalid values
import numpy as np

df.replace(["ERROR", "UNKNOWN", ""], np.nan, inplace=True)

In [6]:
# Convert numeric columns
num_cols = ["quantity", "price_per_unit", "total_spent"]

for col in num_cols:
    df[col] = pd.to_numeric(df[col], errors="coerce")

In [7]:
#Convert date column
df["transaction_date"] = pd.to_datetime(
    df["transaction_date"],
    errors="coerce"
)

In [8]:
df_clean = df.dropna(
    subset= ["transaction_date", "item", "quantity", "price_per_unit"]
)

In [9]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7773 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    7773 non-null   object
 1   item              7773 non-null   object
 2   quantity          7773 non-null   float64
 3   price_per_unit    7773 non-null   float64
 4   total_spent       7382 non-null   float64
 5   payment_method    5319 non-null   object
 6   location          4679 non-null   object
 7   transaction_date  7773 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 546.5+ KB

In [1]:
# Exploratory Data Analysis

In [ ]:
#Revenue by item

In [11]:
item_revenue = (
    df_clean
     .groupby("item")["total_spent"]
     .sum()
     .sort_values(ascending=False)
)
item_revenue

item
Salad       14195.0
Sandwich    10992.0
Smoothie    10888.0
Juice        8631.0
Cake         8577.0
Coffee       5936.0
Tea          3976.5
Cookie       2630.0
Name: total_spent, dtype: float64